/*
Style reset
*/
    /* Selectionner TOUTES les balises du DOM */
    *{
        /* supprimer les marges interieures */
        padding: 0;
        /* supprimer les marges exterieurs */
        margin: 0;
    }

    /* Ramener la valeur 1rem a 10 pixels */
    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem; /*  1.5 rem = 15 px */
    }

    h1{
        font-size: 3rem; /* 3 X le font de html (root) */
    }

    h1 b{
        /* La taille de la font soit toujours 2 fois plus êtite que son parent direct */
        font-size: .5em;
    }

    /*
    style header
    */
        header{
            /* ajouter une bordure de 1px rouge */
            border: .25rem solid red;
        
            /* ajouter une marge a l'interieur de la balise */
            padding: 2rem;

            /* ajouter une marge a l'exterieur de la balise */
            margin: 2rem
        }

        /* modifier le type des balises li */
        li{
            display: inline-block;
            margin-top: 5rem;
        }





        /* Style largeur site */
        /* limiter la largeur de header, main et footer a 950 pixels*/
        header, main, footer{
            max-width: 85rem;
            /* Centrer une balise de type block réduite en largeur */
            margin: 2rem auto;
        }
        section{
            margin-bottom: 4rem
        }

        /* mise en forme typographique */

        .presentation{

            /* Modifier la police de la font */
            font-family: "Arial", Helvetica, sans-serif;

             /*Modifier la taille de la font */
             font-size: 1.7rem;

             /* modifier l'interlignage */
             line-height: 2em;

             /* modifier la graisse de la font */
             font-weight: bold;

              /* Ajouter une ombre portée à la font */
              text-shadow: .5rem .5rem .5rem darkgrey;

              /* Modifier la casse de la font */
              text-transform: uppercase;

              /* modifier le style de la font */
              font-style: italic;

              text-decoration: underline;

              /* Modifier la couleur de la font */
              color: white;

              padding: 2rem;
              background-color: lightblue;
              margin: 4rem auto;

        }

        /* Reference hexadécimale */

        #portfolio{

            background-color: #001dc1; /*reference hexadécimale*/
            color: white; /* nom intelligible*/

            text-align: center; /* Agis sur les textes et les balises inline */
        }

        #portfolio article{
            /* utiliser rgba pour modifier l'opacité de la couleur */
            background-color:rgba(255, 255, 255, 0.9);

            color: #000;
            padding: 2rem;
            margin: 1rem;

            /* Faire en sorte d'afficher les articles sur 3 colones */
            display: inline-block;
        }
