@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Raleway:400,500');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

body{
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1, h2, h3{
    font-family: 'Amatic SC', serif;
    font-weight: 700;
}


/*
Style header
*/
    header, footer{
        color: white;
        background: salmon;
        padding: 2rem;
        margin-bottom: 2rem;
        position: relative;
    }

    h1 span{
        display: block;
        font-size: 0.5em;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
    }

    nav ul{
        display: none;
    }

     nav i{
        position: absolute;
        width: 3rem;
        height: 3rem;
        background: salmon;
        border: solid white 0.2rem;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        padding: auto;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        padding-top: 0.5rem;
        cursor: pointer;
    }


/*
Style main
*/
    h2{
        color: salmon;
    }

    h2:after{
        content:'';
        display: block;
        width: 5rem;
        margin: 1rem auto 2rem auto;
        border-bottom:dotted 0.2rem black;
    }

/*
Style footer
*/

    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-bottom: 0;
    }

   