<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h2>Coucou c'est moi</h2>
        <img src="img/LegendFaller.png" alt="MOI">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi inventore adipisci eum suscipit optio laboriosam et, fugit voluptates rem, molestiae ipsum tenetur quis, autem consectetur beatae vel maiores doloremque similique.</p>


        <h3>Mes compétences</h3>

        <ul>
            <li>
                <p><span>HTML: 88%</span></p>
            </li>
            <li>
                <p><span>CSS: 85%</span></p>
            </li>
            <li>
                <p><span>Javascript: 69%</span></p>
            </li>
        </ul>

        <p>n'hesitez-pas a me contacter en cliquant <a href="#">sur ce lien</a></p>

    </body>
</html>