<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contenu de la page</title>
    </head>
    <body>

        <article id="portfolio">
            <h2>mon portfolio</h2>
            <p>découvrez mes travaux</p>
            <img src="http://lorempixel.com/800/400/cats" alt="mon projet">
        </article>

        <article id="contacts">
            <h2>contactez moi</h2>
            <form action="#">
                <input type="email" placeholder="Votre adresse Email">
                <textarea placeholder="Votre message"></textarea>
                <input type="submit" value="envoyer">
            </form>
            <p>Adresse: Rue des rues 75010 Paris</p>
        </article>
        
    </body>
</html>