/*
Style reset 
*/

    /* Supprimer toutes les marges*/

    *{
        margin: 0;
        padding: 0;
    }

    /* Faire en sorte que 1 rem fasse 10 px */

    html{
        font-size: 62.5%
    }

    body{
        font-size: 1.5rem; /* => 15px */

        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    }

    /* supprimer la décoration des balises a */

    a{
        text-decoration: none;
    }

    /* Faire en sorte que les immages ne dépassent pas leur parrents */
    img{
        max-width: 100%;
    }

    section{
        padding: 6rem 0rem;
    }

    h2{
        text-align: center;

        /* modifier la casse */
        text-transform: uppercase;

        margin-bottom: 3rem;

        font-size: 4rem;
    }

/* tyle largeur maximum */

    nav ul, #about p, #portfolio, #contacts, footer section{
        /* Définir une largeur maximum */
        max-width: 95rem;

        /* Centrer une balise de type block dans son parent */
        margin: auto;
    }

/*
Style header
*/

    header{

        /* Aligner le texte au centre */
        text-align: center;

        /* Changer la couleur du texte */
        color: white;

        /* Changer la couleur du background */
        background-color: #18BC9C;

        /* Ajouter une marge interieure */
        padding-bottom: 6rem
    }

    nav{
        /* Mettre le texte en majuscules */
        text-transform: uppercase;

        background-color: #2c3e50;

        text-align: left;

        /* Ajouter une marge interieure */
        padding: 2rem;


        margin-bottom: 6rem;
    }

    nav a{
        /* Modifier la couleur du texte */
        color: white;

        font-weight: bold;

    }

 
    li{
        /* Aligner les balises li */
        display: inline-block;
        
        /* Ajouter une marge a droite */
        margin-right: 1rem;
    }

    h1{
        /* mettre le texte en majuscule */
        text-transform: uppercase;

        font-size: 6rem;

        padding-top: 3rem;

        font-weight: bold
    }

    header p{
        font-size: 2rem;
    }

/* style main */

    /* PortFolio */

        #portfolio a{
            /* Masquer les balises */
            display: none;
        }

        #portfolio article{

            /* Créer 3 colones */
            display: inline-block;

            width: 29%;

            padding: 1.5rem;
        }

        #portfolio{
            text-align: center;
        }


    /* About */

        #about{
            background-color: #18BC9C;
            color: snow;

            text-align: center;
            
            font-size: 2rem;
        }

        #about p{

            /* Afficher le texte sur deux colonnes */
            -webkit-column-count: 2; /*chrome, Opéra, Safari */
            -moz-column-count: 2; /* Firefox */

            padding: 0rem 1.5rem;

            margin-bottom: 4rem;

            /* justifier le texte */
            text-align: justify;

        }

        #about a{
            
            color: white;

            border: 0.2rem solid white;

            padding: 1rem 1rem;

            -webkit-border-radius: 0.6rem;
            -moz-border-radius: 0.6rem;
            border-radius: 0.6rem
        
        }


    /* Contact */

        input, textarea{
            display: block;
            width: 90%;

            margin: 1rem auto;

            padding: 1rem;

            font-size: 2rem;

            /* Annuler le style du navigateur */
            border: none;

            /* Refefinir la bordure */
            border-bottom: 0.05rem solid lightgrey;
        }

        textarea{

            /* Définir une hauteur min */
            min-height: 20rem;

            
        }

        form{
            border-top: 0.05rem solid lightgrey;
        }

        /* Selectionner une balise grâce a son attribut et sa valeur */

        [type="submit"]{

            width: 10rem;

            display: inline-block;

            background-color: #18BC9C;

            color: white;

            font-weight: bold;

            -webkit-border-radius: 0.6rem;
            -moz-border-radius: 0.6rem;
            border-radius: 0.6rem;

            margin: 0rem 3rem;

        }

/* Style footer */

    footer{

        color: white;
        text-align: center;
        background:#2c3e50
    }

    footer article{
        display: inline-block;
        width: 29%;
        
        /* gerer l'alignement vertical */

        vertical-align: top;
    }

    h3{
        font-size: 2.5rem;

        text-transform: uppercase;

        margin-bottom: 3rem;
    }

    /* Selectionner une balise grace a son attibut et sa valeur */
    [href="https://www.google.com"]{
        color: #18BC9C;
    }

    aside{
        padding: 1.5rem;
        background-color: #233140
    }

    i{
        display: inline-block;

        border: 0.2rem solid white;

        padding: 1rem;  

        border-radius: 50%;
        
    }