<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h2>C'est ben ce que je fais</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi inventore adipisci eum suscipit optio laboriosam et, fugit voluptates rem, molestiae ipsum tenetur quis, autem consectetur beatae vel maiores doloremque similique.</p>
        
        <figure>
            <img src="app/img/cake.png" alt="Projet 1">
            <figcaption><span>Projet 1 </span><button>Afficher les détails</button></figcaption>
        </figure>
        <figure>
            <img src="app/img/game.png" alt="Projet 2">
            <figcaption><span>Projet 2 </span><button>Afficher les détails</button></figcaption>
        </figure>
        <figure>
            <img src="app/img/circus.png" alt="Projet 3">
            <figcaption><span>Projet 3 </span><button>Afficher les détails</button></figcaption>
        </figure>
        <figure>
            <img src="app/img/safe.png" alt="Projet 4">
            <figcaption><span>Projet 4 </span><button>Afficher les détails</button></figcaption>
        </figure>

        <!-- Modal -->
        <section id="modal">
            <article>
                <h2><span>Projet 1 </span><i class="fa fa-times" aria-hidden="true"></i></h2>
                <img src="img/cake.png" alt="Projet 1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis in ea exercitationem consequuntur quo sunt repudiandae deleniti dolore aspernatur modi laborum quam sapiente, sint assumenda fugiat reprehenderit obcaecati. Nulla, perspiciatis.</p>
            </article>

        </section>
    </body>
</html>